@font-face {
    font-family: Inter;
    src: url(./Inter.ttf);
}

html {
    height: 100%;
    font-family: Inter;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

[wrapper] {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #212121;
    color: #ebebeb;
    overflow: hidden;
    box-shadow: inset 0 0 1px 1.5px #ffffff85;
}

[dragger] {
    height: 38px;
    width: 100%;
    -webkit-app-region: drag;
    display: flex;
    position: relative;
    align-items: center;
}

.controls {
    display: flex;
    position: absolute;
    gap: 8px;
    right: 8px;
    -webkit-app-region: no-drag;
}

[light] {
    background-color: #ffffff85;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

[light]:hover {
    background-color: #ffffffd5;
}

[close]:hover {
    background-color: #ff6363;
}

[appTitle] {
    position: absolute;
    left: 8px;
}

.main {
    overflow: auto;
    height: 100%;
    padding: 0 8px 8px 8px;
    margin: 0px 2px 0px 2px;
}

.main::-webkit-scrollbar-track {
    background-color: #212121;
}

.main::-webkit-scrollbar {
    width: 10px;
    background-color: #212121;
}

.main::-webkit-scrollbar-thumb {
    background-color: #424242;
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: #616161;
}

.main::-webkit-scrollbar-corner {
    background-color: #212121;
}

mark {
    padding: 4px;
    border-radius: 4px;
}

button {
    background-color: #ffffff38;
    transition: 200ms ease-in-out;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 20px;
    font-family: Inter;
}

button:hover {
    background-color: transparent !important;
    box-shadow: inset 0 0 1px 1.5px #ffffff85;
}

button:focus-visible {
    outline: none;
    box-shadow: inset 0 0 1px 1.5px #ffffff85;
}

button[small] {
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 20px;
    font-family: Inter;
}

button[medium] {
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 20px;
    font-family: Inter;
}

button[big] {
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    font-size: 20px;
    font-family: Inter;
}

button[bad] {
    background-color: #ff6363;
}

button[primary] {
    background-color: #4c8bff;
}